/build
/tmp
/.vagrant
/debian/files
/debian/debhelper-build-stamp
/debian/hypertext-skeleton
/debian/hypertext-skeleton.substvars
/documentation/man/*.1
/.scannerwork
/node_modules
/web/js/jquery
/web/js/bootstrap
/web/css/bootstrap
